<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <h2>Messages</h2>

    <div>
        <form method="post" action="/filter">
            <input type="text" name="filter" placeholder="find by tag"/>
            <br>
            <button type="submit">Find</button>
        </form>
    </div>

    <br>

    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Message"/>
            <br>
            <input type="text" name="tag" placeholder="Tag">
            <br>
            <button type="submit">Post</button>
        </form>
    </div>

    <br>

    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Tag</th>
            </tr>
            <tr th:each="message : ${messages}">
                <td th:text="${message.getId()}"/>
                <td th:text="${message.getText()}"/>
                <td th:text="${message.getTag()}"/>
            </tr>
        </table>
    </div>
</body>
</html>